@mixin external-rating-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .tournament-list {
    list-style: none;
    padding: 4px;
    margin-right: 8px;
  }

  .tournament-list-item {
    &:hover, &:active, &:focus {
      background-color: mat-color($background, hover);
    }

    &.selected {
      background-color: mat-color($primary, lighter, 0.5);
    }
  }

  .event-list {
    list-style: none;
    padding: 4px;
    margin-right: 8px;
    margin-left: 25px;
  }

  .instruction {
    background-color: mat-color($accent, darker, 0.5);
  }
}
