<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.5.0/css/okta-sign-in.min.css"
  type="text/css"
  rel="stylesheet"/>
<link
  href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.5.0/css/okta-theme.css"
  type="text/css"
  rel="stylesheet"/>

<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <div class="button-row">
    <a mat-raised-button color="accent" routerLink="/">
      Home
    </a>
    <a mat-raised-button color="accent" routerLink="/idmapping"
       matTooltip="Map ITF IDs to VR IDs">
      Manage External Player Identities
    </a>
    <a mat-raised-button color="accent" routerLink="/tournamentRater"
       matTooltip="Categorize ITF/ATP/WTA tournaments for inclusion in TC Ratings">
      Rate Tournaments
    </a>
    <a mat-raised-button color="accent" routerLink="/tournamentDataManager"
       matTooltip="Manually create and edit results for non-TC Tournaments">
      Manual Tournament Data
    </a>
    <a mat-raised-button color="accent" routerLink="/resultsBrowser"
       matTooltip="Browse results for non-TC Tournaments">
      Results Browser
    </a>
    <button mat-raised-button color="accent" *ngIf="!signIn.isAuthenticated()" routerLink="/login"> Login </button>
    <button mat-raised-button color="accent" *ngIf="signIn.isAuthenticated()" routerLink="/" (click)="logout()"> Logout </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<app-messages></app-messages>
